/* Global variables */
/* ======================================================================== */
$main_font_family: "Rubik";
$main_color: #3e3e3e;
$main_line_height: 1.2;
$main_font_size: 16px;

$container_width: 96em;

$footer_height: 60px;

// Color collection for elements
$color_primary: #4A7BBD;
$color_success: #F68B28;
$color_info: #FFEEDF;
$color_warning: #FEBB7D;
$color_danger: #A83F34;
$color_withe: #ffffff;
$color_light: #F3F3F3;
$color_dark: #434343;
$color_disabled: #b9b9b9;

$el-colors: (
	primary: $color_primary, // color for .element__primary
	success: $color_success, // color for .element__success
	info: $color_info, // color for .element__info
	warning: $color_warning, // color for .element__warning
	danger: $color_danger, // color for .element__danger
);

/* Grid */
/* ======================================================================== */
$grid_padding: 20px;

/* Form */
/* ======================================================================== */
// Input variables

// Input color
$input_color: $main_color;
$input_bg_color: #fff;
$input_border_color: #c4c4c4;
$input_placeholder_color: #E6E6E6;

// Input hover color
$input_hover_color: #fff;
$input_hover_bg_color: #fff;
$input_hover_border_color: #ddd;
$input_hover_placeholder_color: #ddd;

// Input focus color
$input_focus_color: #fff;
$input_focus_bg_color: #fff;
$input_focus_border_color: #ddd;
$input_focus_placeholder_color: #ddd;

// Input disabled color
$input_disabled_color: #fff;
$input_disabled_bg_color: #ccc;
$input_disabled_border_color: #ccc;
$input_disabled_placeholder_color: #fff;

// Input error color
$input_error_color: red;
$input_error_bg_color: #fff;
$input_error_border_color: red;
$input_error_placeholder_color: red;

// Button variables
$btn_default_bg_color: $color_danger;
$btn_default_text_color: $color_withe;
$btn_contrast_text_color: $color_withe;
$btn_default_bg_color_hover: $color_success;

/* Breakpoints */
$breakpoint-small: 480px !default;
$breakpoint-medium: 760px !default;
$breakpoint-large: 960px !default;
$breakpoint-xlarge: 1200px !default;

$breakpoint-mini-max: ($breakpoint-small - 1) !default;
$breakpoint-small-max: ($breakpoint-medium - 1) !default;
$breakpoint-medium-max: ($breakpoint-large - 1) !default;
$breakpoint-large-max: ($breakpoint-xlarge - 1) !default;