// Style for button and pseudo button for input and link

.btn {
	color: $btn_default_text_color;
	font-family: $main_font_family;
	border: 0.15em solid $color_danger;
	font-size: 2.55em;
	font-weight: 500;
	padding: 0.2em 0.7em;
	// border: none;
	outline: none;
	text-decoration: none;
	display: inline-block;
	background-color: $btn_default_bg_color;
	text-align: center;
	max-width: 100%;
	cursor: pointer;
	border-radius: 0.45em;
	transition: 0.3s;
	transition-property: background-color, color, border;
	text-decoration: none;
	text-transform: uppercase;

	&_sm {
		font-size: 1.2em;
		padding: 0.4em 0.9em;
		border-radius: 0.65em;
	}

	&:hover {
		border: 0.15em solid $color_success;
		background-color: $color_success;
		color: $color_withe;
		text-decoration: none;
	}

	&:active,
	&:focus {
		border: 0.15em solid $color_success;
		background-color: $color_success;
		color: $color_withe;
	}

	&_outline {
		border: 0.15em solid $color_danger;
		background-color: transparent;
		color: $color_danger;

		&:hover {
			border: 0.15em solid lighten($color_danger, 7%);
			background-color: lighten($color_danger, 7%);
			color: $color_withe;
		}

		&:active,
		&:focus {
			border: 0.15em solid darken($color_danger, 10%);
			background-color: darken($color_danger, 10%);
			color: $color_withe;
		}
	}

	&_contrast {
		border-color: $color_withe;
		background-color: $color_withe;
		color: $color_dark;

		&:hover {
			border-color: darken($color_withe, 5%);
			background-color: darken($color_withe, 5%);
			color: $color_dark;
		}

		&:active,
		&:focus {
			border-color: darken($color_withe, 10%);
			background-color: darken($color_withe, 10%);
			color: $color_dark;
		}

	}
	@each $status_el, $color_bg in $el_colors {
		&_#{$status_el} {
			background-color: $color_bg;
			border-color: $color_bg;
			border: 0.15em solid $color_bg;
			color: $btn_contrast_text_color;

			&:hover {
				background-color: darken($color_bg, 7%);
				border: 0.15em solid darken($color_bg, 7%);
				color: $btn_contrast_text_color;
			}

			&:active,
			&:focus {
				background-color: darken($color_bg, 10%);
				border: 0.15em solid darken($color_bg, 10%);
				color: $btn_contrast_text_color;
			}
		}
	}
}
