/* Footer
 ----------------------------------------------------------------------------- */
.footer {
    color: $color_withe;
    background-color: $color_dark;
    padding: 4.3em 0 3.4em;

    @media (min-width: 768px) {
        padding: 4.3em 0 3.4em;

    }

    &__content {
        margin: auto;
        display: flex;
        flex-direction: column;

        @media (min-width: 768px) {
            justify-content: space-between;
            max-width: 94em;
            flex-direction: row;
        }

        @media (max-width: 767px) {
            padding: 0 2.5em;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 1.8em;

        @media (min-width: 768px) {
            padding-left: 3.8em;
        }

        @media (max-width: 767px) {
            align-items: center;

            .logo {
                margin-bottom: 2em;
            }
        }
    }

    &__center {
        padding: 1em 0 3em;
        display: flex;
        justify-content: center;
        flex-grow: 1;

        @media (min-width: 768px) {
            justify-content: space-between;
            padding: 1em 5.8em 0 13em;
            height: 6.2em;
        }

        @media (max-width: 767px) {
            flex-direction: column;
            max-width: 29em;
            margin: auto;
            text-align: center;
        }

        .navbar {
            justify-content: space-between;

            @media (min-width: 768px) {
                margin-right: 1em;
            }

            @media (max-width: 767px) {
                margin-bottom: 2em;
                margin-top: 2em;

                &__item {
                    margin-bottom: 3em;
                }

                &__link {
                    font-size: 2em;
                }
            }
        }
    }

    &__right {}

    &__action {
        padding-top: 0.4em;
        text-align: center;
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: flex-end;

        @media (min-width: 768px) {
            text-align: right;
            max-width: 24em;
        }

        .btn {
            margin-left: 1.2em;
            margin-bottom: 0.9em;

            &_outline {
                border-color: $color_withe;
                color: $color_withe;
                background-color: transparent;

                &:hover {
                    border-color: darken($color_withe, 5%);
                    // background-color: darken($color_withe, 7%);
                    color: darken($color_withe, 5%);
                }

                &:active,
                &:focus {
                    border-color: darken($color_withe, 10%);
                    // background-color: darken($color_withe, 7%);
                    color: darken($color_withe, 10%);
                }
            }

            .btn_request {}

            &_login {
                min-width: 7.3em;
            }

            &_signup {
                min-width: 7.3em;
            }

            @media (max-width: 767px) {
                font-size: 1.6em;
            }
        }

    }

    &__copy {
        // padding-top: 1.8em;
        font-size: 1.2em;
        text-align: center;
        margin-top: 1.3em;
    }

    &__contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (min-width: 768px) {
            align-items: flex-start;
        }
        // padding-top: 0.5em;

        a {
            color: $color_withe;
            text-decoration: none;
            font-size: 1.7em;
            // margin-top: 0.7em;

            @media (min-width: 768px) {
                font-size: 1.2em;
            }

            @media (max-width: 767px) {
                margin-bottom: 1em;
            }
        }
    }

}
