.complete {
    &.open {}

    .section__title {
        color: $color_success;
        font-size: 2.2em;
        text-align: center;
        max-width: 14em;
        margin: auto auto 0.9em;

        @media (min-width: 768px) {
            font-size: 1.875em;
            margin: auto auto 1.2em;
        }

        @media (min-width: 992px) {
            margin: auto auto 1.1em;
        }
    }

    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 6.6em;

        @media (min-width: 768px) {
            margin-bottom: 3.7em;
        }

        @media (min-width: 992px) {
            margin-bottom: 3em;
        }
    }

    &__toggle {
        text-align: center;
        cursor: pointer;
        transform: rotateX(180deg);
        width: 9.063em;

        transition: transform 0.3s;

        .complete.open & {
            transform: rotateX(0deg);
        }
    }

}
