.featuresList {
    &__item {
        box-shadow: 0.25em 0.5em 0.625em rgba(0, 0, 0, 0.16);
        background-color: $color_withe;
        border-radius: 0.313em;
        margin: 0 0 4em;
        display: flex;
        // overflow: hidden;

        transition: 0.3s;
        transition-property: box-shadow;

        &:hover {
            box-shadow: 0.15em 0.3em 0.43em rgba(0, 0, 0, 0.16);
        }

    }

    &__img {
        display: none;

        @media (min-width: 768px) {
            display: block;

            background: #FFC086;
            padding: 3.4em;
            flex: none;
            width: 31.5%;
            border-radius: 0.313em 0 0 0.313em;

            img {
                border-radius: 0.313em;
                display: block;
            }
        }
    }

    &__descr {
        padding: 2em 1.8em;

        @media (min-width: 768px) {
            padding: 3.4em 3.6em 3.6em 6.2em;
        }
    }

    &__name {
        font-weight: 500;
        font-size: 2.75em;
        margin-bottom: 0.7em;

        @media (min-width: 768px) {
            font-size: 2.35em;
        }
    }

    &__text {
        font-size: 2.1em;
        // max-height: 7.1em;
        overflow: hidden;

        @media (min-width: 768px) {
            font-size: 1.8em;
        }

        &.inline {
            display: inline;
        }

        &.open {
            max-height: inherit;
        }
    }

    &__more {
        font-size: 1.8em;
        display: inline-block;
        color: $color_success;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

}
