.fScreen {
    display: flex;
    align-items: center;
    // background: #fff;
    // background-size: auto 100%;
    position: relative;
    overflow: hidden;

    @media (min-width: 768px) {
        min-height: 60em;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 63%;
            background-color: $color_info;
            z-index: 0;
        }

        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 54%;
            background: url("../img/f-bg.svg") bottom -0.2em left 6em no-repeat;
            background-size: auto 100%;
            z-index: 0;
        }
    }

    @media (min-width: 768px) {
        min-height: 70.7em;
    }

    @media (max-width: 767px) {
        text-align: center;
        background: url("../img/f-bg-mob.svg") 0 0 no-repeat;
        background-size: cover;
    }

    &__layer {
        @media (min-width: 768px) {
            position: absolute;
            top: 0;
            right: -4em;
            bottom: -3em;
            left: -4em;
            background-position: bottom left;
            background-repeat: no-repeat;
            background-size: 100% auto;
            transition: transform 0.2s linear;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 23%;
                background-color: $color_withe;
            }

            &_1 {
                background-image: url("../img/layer1.svg");
                background-position: bottom -5em center;
            }

            &_2 {
                background-image: url("../img/layer2.svg");
                background-position: bottom 0 center;

            }

            &_3 {
                background-image: url("../img/layer3.svg");
                background-position: bottom 0 center;

            }

        }
    }

    .container_center {
        width: 100%;
        position: relative;
        z-index: 1;
    }

    &__content {
        padding-top: 46.5em;

        @media (min-width: 768px) {
            padding-top: 6.6em;
            max-width: 45%;
        }

        @media (min-width: 992px) {
            padding-top: 6.2em;
        }

        @media (max-width: 767px) {
            max-width: 36em;
            margin: 0 auto 0.7em;
            padding-bottom: 7.3em;
            background: url("../img/f-bg-mob-top.svg") top 9.8em center no-repeat;
            background-size: 88.6%;
        }
    }

    &__logo {
        max-width: 17.8em;
        margin-bottom: 3.1em;

        @media (min-width: 992px) {
            max-width: 13.5em;
            margin-bottom: 1.7em;
        }
        @media (max-width: 767px) {
            margin: 0 auto 2.3em;
        }
    }

    .section__title {
        font-size: 3.8em;
        color: $color_danger;
        font-weight: 700;
        letter-spacing: 0.035em;
        line-height: 1.06;
        text-transform: uppercase;
        margin-bottom: 0.85em;

        @media (min-width: 768px) {
            font-size: 5.8em;
        }

        @media (min-width: 992px) {
            margin-left: -.07em;
            margin-bottom: 0.45em;
        }

    }

    &__text {
        color: $color_dark;
        font-size: 1.95em;
        margin-bottom: 1.4em;
        // letter-spacing: 0.001em;

        @media (min-width: 768px) {
            font-size: 2.13em;
        }
    }

    &__action {
        .btn {
            font-size: 3.1em;
            border-radius: 0.4em;
            padding: 0.35em 1.3em;
            color: $color_danger;

            &:hover {
                border-color: $color_success;
                background-color: $color_success;
                color: $color_withe;
            }

            @media (min-width: 768px) {
                font-size: 3.1em;
                padding: 0.1em 1em;
            }
        }
    }

}
