extends template.pug
block variables
    -var bodyClass = 'home';

block content
    // begin fScreen
    section#home.fScreen
        .fScreen__layer.fScreen__layer_1(data-speed="45")
        .fScreen__layer.fScreen__layer_2(data-speed="25")
        .fScreen__layer.fScreen__layer_3(data-speed="10")
        .container_center
            .fScreen__content
                .fScreen__logo
                    a(href="https://www.cloudaware.com")
                        img(src="img/cloud.svg", alt="CloudAware")
                h2.section__title Compliance Engine
                .fScreen__text 450+ policies to identify spending waste and security holes. Workflow templates to route, escalate and fix fast.

                .fScreen__action
                    a.btn.btn_contrast(href="https://cloudaware.com/create-account/") Try now

    // end fScreen

    // begin turnkey
    section#turnkey.turnkey
        .container_center
            h2.section__title Turnkey Solution with Process Templates
            .turnkey__content
                .turnkey__left.animate(data-delay="100")
                    //- .turnkey__title CIS
                    //- .turnkey__sub scan date: sep 2, 2019 3:58 am pdt
                    //- .turnkey__count
                    //-     .turnkey__item
                    //-         .turnkey__number 222
                    //-         .turnkey__label benchmarks checks
                    //-     .turnkey__item
                    //-         .turnkey__number 155
                    //-         .turnkey__label passed
                    //-     .turnkey__item
                    //-         .turnkey__number 67
                    //-         .turnkey__label failed
                    img(src="img/cis.jpg", alt="")
                .turnkey__right.animate(data-delay="200")
                    img(src="img/turnkey.jpg", alt="")

    // end turnkey

    // begin complete
    section#complete-list.complete.line_withe
        .complete__top
            h2.section__title Complete list of compliance libraries
            .complete__toggle
                img(src="img/duble-arrow.png", alt="")

        .line_light.completeList__wrapper
            // begin container_center
            .container_center
                .completeList
                    -var complete = ['pci', 'hpaa', 'gdpr', 'aicpa', 'iso', 'cis', 'nist', 'nist-2', 'fedramp', 'ccm'];
                    each item in complete
                        .completeList__item
                            img(src="img/"+item+".png", alt="")


            // end container_center

    // end complete

    // begin violation
    section#violation.violation.line_withe
        .container_center
            h2.section__title.text_center VIOLation life cycle management
            .section__sub.text_center Optimize your compliance implementation

            .violation__content
                .violation__row.animate
                    .violation__img
                        img(src="img/violation-1.jpg", alt="Violation Routing")
                    .violation__text
                        .violation__title Violation Routing
                        .violation__descr Compliance engine routes and escalates violations to specific teams and individuals. Using tags and other data from CMDB, compliance engine will identify security and compliance contacts for every configuration item involved in a violation. Assigning remediation tasks to the most appropriate team is the first step in pursuing expedited resolution. Using violation routing feature, SecDevOps teams can reduce their workloads by automatically forwarding remediation requests directly to the account and application owners. 
                .violation__row.animate
                    .violation__img
                        img(src="img/violation-2.jpg", alt="Enforcement  Handling")
                    .violation__text
                        .violation__title Enforcement  Handling
                        .violation__descr Compliance engine is designed to allow those responsible for remediation to request an appeal from cloud security and compliance operations. Using Cloudaware CMDB workflows, appeal request can be escalated to multiple stakeholders. Ignoring violations even for legitimate reasons creates poor security governance culture where subsequently legitimate violations are likely be ignored at some point. By dealing with legitimate violations using a process driven approach where no violation remains ignored, security teams not only protect cloud infrastructure but also nurture culture of responsibility and transparency.

                .violation__row.animate
                    .violation__img
                        img(src="img/violation-3.jpg", alt="Approval Workflow")
                    .violation__text
                        .violation__title Approval Workflow
                        .violation__descr Approval workflows allow compliance engine administrators to create automated processes to handle appeal requests in response to compliance violations. Compliance engine supports advanced approval workflows where multiple concurrent stakeholders are required for a sign off as well as staggered processes where various department representatives will sign off sequentially. Cloudaware approval workflows feature is designed to avoid situations where violations are in a dead end state and are ignored.
                .violation__row.animate
                    .violation__img
                        img(src="img/violation-4.jpg", alt="Compliance Performance")
                    .violation__text
                        .violation__title Compliance Performance
                        .violation__descr Compliance engine provides insightful indicators about how various teams are handling compliance violations. Besides standard metrics, such as violation volume over time and mean time to repair, compliance engine dashboards show which teams are overloaded with violations and will not be able to resolve violations within a pre-configured timeline. Customers are able to compare their statistics, such as mean time to repair, exception rate and others against statistical average of other Cloudaware customers. This feature helps customers to establish a point of reference of how they are performing relative to the industry standard and whether their processes require an improvement.

        .violation__action
            a.btn(href="https://cloudaware.com/create-account/") Try now

    // end violation

    // begin feature
    section#feature.feature.line_withe
        .container_center
            h2.section__title.text_center Additional Features

            .feature__list
                a.feature__item.animate(href="#" data-delay="0")
                    .feature__img
                        img(src="img/feature-1.png", alt="Multi-ะกloud: AWS, GCP, Azure")
                    .feature__name Multi-Cloud: <br>AWS, GCP, Azure
                a.feature__item.animate(href="#" data-delay="100")
                    .feature__img
                        img(src="img/feature-2.png", alt="Supports JIRA and ServiceNow")
                    .feature__name Supports JIRA <br>and ServiceNow
                a.feature__item.animate(href="#" data-delay="200")
                    .feature__img
                        img(src="img/feature-3.png", alt="Plan Remediation Activities")
                    .feature__name Plan Remediation <br>Activities
                a.feature__item.animate(href="#" data-delay="300")
                    .feature__img
                        img(src="img/feature-4.png", alt="Write your own policies")
                    .feature__name Write your <br>own policies
            .feature__action
                a.btn(href="#") More

    // end feature

    // begin resources
    section#resources.resources
        .container_center
            h2.section__title.text_center Resources
            .resources__list
                a.resources__item.animate(href="#" data-delay="0")
                    .resources__img
                        img(src="img/resources-1.jpg", alt="")
                    .resources__descr
                        .resources__name Datasheet
                        .resources__short Download Complaince Engine datasheet
                        .resources__more Show more
                a.resources__item.animate(href="#" data-delay="100")
                    .resources__img
                        img(src="img/resources-2.jpg", alt="")
                    .resources__descr
                        .resources__name Case Studies
                        .resources__short Visit our customer's case studies.
                        .resources__more Show more
                a.resources__item.animate(href="#" data-delay="200")
                    .resources__img
                        img(src="img/resources-3.jpg", alt="")
                    .resources__descr
                        .resources__name Blog
                        .resources__short Take a tour of Compliance Engine Blog articles.
                        .resources__more Show more
                a.resources__item.animate(href="#" data-delay="300")
                    .resources__img
                        img(src="img/resources-4.jpg", alt="")
                    .resources__descr
                        .resources__name Videos
                        .resources__short Check out our short YouTube videos about Compliance Engine.
                        .resources__more Show more
            .resources__action
                a.btn(href="resourses.html") More

    // end resources

    // begin contacts
    section#contacts.contacts
        .container_center
            h2.section__title.text_center still have questions left?

            form.form.animate(action="#" method="post")
                .form__title Please, send us an e-mail here 
                .form__row
                    input(type="text", placeholder="Your e-mail")
                .form__row
                    textarea(placeholder="Type your question here")
                .form__action
                    button.btn(type="submit") Send
                .form__shoice Or contact us via 
                    a.js_show_chat(href="#") chat

    // end contacts
